@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font: 'Montserrat', sans-serif;

$background-dark: black;
$background-bright: #e7dddd;
$background-primary: white;
$text-light: white;
$primary-color: #b88b58;
$line-color: #bebebe;
$border-color: #cfcfcf;
$button-dark: #373737;

$large: 20px;

$twitter: #4099FF;
$facebook: #3B5998;
$google-plus: #DB5A3C;
$instagram: #5C3D2E;
$github: #4183C4;
