@import url('https://fonts.googleapis.com/css?family=Montserrat');

$font: 'Montserrat', sans-serif;

$background-dark: black;
$background-bright: #ededed;
$background-primary: white;
$text-light: white;
$primary-color: #b88b58
