.navigation-link {
    padding: 0 10px;
    text-align: center;
    color: white;

    &:hover {
        border-bottom: 5px solid $primary-color;
    }
}

@media (max-width: 870px) {
    .navigation-link {
        padding: 20px 0;
    }
}
