section {
    border: 1px solid $border-color;
}

.section-dark {
    background-color: $background-dark;
    color: white;
}

.section-light {
    background-color: $background-bright;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.section-container {
    @extend .container;

    max-width: 1140px;
    padding: 30px;
}

.short-container {
    @extend .container;
    
    max-width: 1140px;
    padding: 15px;
}

.little-container {
    @extend .container;
    
    max-width: 600px;
    padding: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
