.section-container {
    width: 100%;
    max-width: 1140px;
    margin: 60px auto;
    padding: 30px;
}

.section-dark {
    background-color: black;
    color: white;
}

.section-light {
    background-color: $background-bright;
}
