.jumbotron-item {
    position: absolute;
    top: 20%;
    color: white;
    text-align: center;
    width: 100%;
    padding: 0 20px;

    h2 {
        font-size: 72px;
        word-wrap: break-word;
    }

    p {
        font-size: 24px;
    }

    span {
        display: block;
        color: $primary-color;
    }
}

@media (max-width: 900px) {
    .jumbotron-item {
        h2 {
            font-size: 60px;
        }
    
        p {
            font-size: 22px;
        }
    }
}

@media (max-width: 650px) {
    .jumbotron-item {
        h2 {
            font-size: 40px;
        }
    
        p {
            font-size: 22px;
        }
    }
}
