.projects-nav-container {
    width: 710px;
    height: 60px;
    margin: 0 auto 40px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 30px;
    background-color: $background-bright;
}

@media (max-width: 747px) {
    .projects-nav-container {
        flex-direction: column;
        height: 360px;
        width: 80%;
    }
}
