.services-card {
    height: 210px;
    border-left: 1px solid $line-color;
    padding: 0 30px;
    text-align: center;

    p {
        margin: 0;
        opacity: 0.6;
    }

    h2 {
        margin-bottom: 5px;
    }

    &:last-of-type {
        border-right: 1px solid $line-color;
    }
}

@media (max-width: 1160px) {
    .services-card {
        margin: 30px 0;

        &:nth-of-type(2) {
            border-right: 1px solid $line-color;
        }
    }
}

@media (max-width: 768px) {
    .services-card {
        width: 290px;
        margin: 40px auto;
        float: none;
        border-right: 1px solid $line-color;
    }
}
